body * {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: aqua;
    padding-left: 5%;
    padding-right: 5%;
}

/* Index.html */
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }

header {
    margin-top: 10%;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10%;
    text-align: center;
}

#otherViews {
    margin-top: 3%;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 3%;
    text-align: center;
}


.login {
  width: 300px;
  padding: 40px;
  border-radius: 5px;
  background: white;
  margin: 0 auto;
}

input[type="email"],
input[type="password"],
button [type="submit"]{
  display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: left;
  padding: 7px 7px 7px 7px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: white;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

/* Home.html */
.petSearch, .shelterSearch, .petsMart{
    width: 100%;
    padding: 25px 25px 25px 25px;
    border-radius: 5px;
    background: white;
}

input[name="zipCode"], #breedList {
    margin-right: 10px;
}

h2 {
    text-align: center;
    margin: 0 0 25px 0;
    font-size: 20px;
}

.articles {
    background-color: white;
    width: 25%;
    display: inline-block;
    margin-left: 5%;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    padding: 25px 25px 25px 25px;
}

a {
    margin-bottom: 30px;
}

.searches {
    display: inline-block;
    width: 65%
}

/* pet.html */
.logoImg {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    position: absolute;
    top: 2%;
    left: 2%;
  }

  p {
      text-align: center;
  }

  .dogSearch {
      background-color: aqua;
      padding-bottom: 40px;
  }

  .profile {
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 100%;
  }
  
  .profile-content {
    padding: 20px;
    background-color: white;
  }
  
  .profile-content h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .profile-content p {
    margin: 0.5em 0;
  }

  #prevResults {
    position: absolute;
    bottom: 2%;
    left: 2%;
  }

  #nextResults {
    position: absolute;
    bottom: 2%;
    left: 2%;
  }

  /* profile.html */

#profile {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 25px 25px 25px;
    background-color: white;
    border-radius: 5px;
}

#profileImg {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 25px;
}


#contactInfo {
    background-color: white;
    border-radius: 5px;
    padding: 25px 10px 25px 10px;
    margin-bottom: 20px;
    float: right;
}





